html
    head
        title Expense
        link(rel="stylesheet" type="text/css" href="/style/semantic/semantic.min.css")
        script(src="/style/jquery/jquery.min.js")
        script(src="/style/semantic/dist/semantic.min.js")
        

    body(style="padding: 20px")
        div(class="ui grid")
            div(class="four wide column")
                div(class="ui vertical menu")
                    div(class="item")
                        form(action="/report/", type="GET", class="ui form", style="margin: 10px;")
                            div(class="field")
                                each year in years
                                    div(class="field")
                                        div(class="ui radio checkbox")
                                            if year == currentYear
                                                input(type="radio", name="year", value=year, id='form_year_#{year}', checked)
                                            else
                                                input(type="radio", name="year", value=year, id='form_year_#{year}')
                                            label(for='form_year_#{year}')= year
                            br
                            div(class="field")
                                each month in months
                                    div(class="field")
                                        div(class="ui radio checkbox")
                                            if month.checked
                                                input(type="radio", name="month", value=month.id, id='form_month_#{month.id}', checked)
                                            else
                                                input(type="radio", name="month", value=month.id, id='form_month_#{month.id}')
                                            label(for='form_month_#{month.id}')= month.month
                            
                            br
                            select(class="ui fluid search dropdown", name="Store")
                                each store in stores
                                    option(value="#{store.id}")= store.name

                            br
                            div(class="inline fields")
                                each spender, index in spenders
                                    div(class="field")
                                        div(class="ui radio checkbox")
                                            if index == 0
                                                input(type="radio", name="spender", value=spender.id, class="ui toggle button" id='form_spender_#{spender.id}', checked)
                                            else
                                                input(type="radio", name="spender", value=spender.id, class="ui toggle button" id='form_spender_#{spender.id}')
                                            label(for='form_spender_#{spender.id}') #{spender.name}
                            br
                            button(class="ui button", type="submit") Submit
            
    script.
        $('.ui.dropdown').dropdown({
            allowAdditions: true
        });
